# this is only used for heroku local command
# insert these values also on heroku.com to your app

# Bonsai example
# You need to manually create a index on bonsai (PUT /indexname);
ELASTISEARCH_URL=https://XXnameXXXX.bonsaisearch.net:443/index1
ELASTICSEARCH_AUTH_STRING_READ=XXXuserXXXX:XXpassXXX
ELASTICSEARCH_AUTH_STRING_WRITE=XXXuserXXX:XXXpassXX

# Appbase example



# WORKSHEET
WORKSHEET_JSON_URL=https://spreadsheets.google.com/feeds/list/1kntJWO9iP6rL6WFqKXNsINoa923LjoDfEz38_NA4-ao/od6/public/values?alt=json
