# this is only used for heroku local command
# insert these values also on heroku.com dashboard or via heroku config:set to your app

# Google Drive spreadsheet URL JSON
# see: https://medium.com/@scottcents/how-to-convert-google-sheets-to-json-in-just-3-steps-228fe2c24e6
SPREADSHEET_JSON_URL=https://spreadsheets.google.com/feeds/list/1kntJWO9iP6rL6WFqKXNsINoa923LjoDfEz38_NA4-ao/od6/public/values?alt=json

# Bonsai example
# You need to manually create a index on bonsai (PUT /indexname);
ELASTISEARCH_URL=https://XXnameXXXX.bonsaisearch.net:443/index1
ELASTICSEARCH_AUTH_STRING_READ=XXXuserXXXX:XXpassXXX
ELASTICSEARCH_AUTH_STRING_WRITE=XXXuserXXX:XXXpassXX

# Appbase example
